/*

Classes :
.heading : default

*/
$labelHeadingMargin:0.2rem;

.heading {
  .label:first-child {
    margin-bottom: 0;
  }

  p.label + * {
    margin-top: $labelHeadingMargin;
  }

  .content {
    margin-bottom: 0.15em;
  }
}
