/*

Classes :
.card : default

*/
$transitionDuration:.2s;
$selectionAnimationHeight:.1em;
$transformHoverScale:1.02;
$section-padding:1.4em;

//Cards
$scrollPadding:calc(var(--u, 0) * 1rem);
$gaps:.5em;
$card-width:300px;

.scene {
  perspective: 600px;
}

.scene > .ensemble {
  height: 100%;
  position: relative;
  transform-style: preserve-3d;
  transition: all 1s;

  .flip {
    color: var(--dark-x, var(--on-y));
    cursor: pointer;
    display: block;
    font-size: calc(var(--s-1) * 1em);
    opacity: .5;
    position: absolute;
    right: $section-padding / 2;
    top: $section-padding / 2;
    z-index: 1;
  }

  .front-face {
  }

  .back-face.back-face.back-face {
    height: 100%;
    left: 0;
    position: absolute;
    transform: rotateY(180deg);
    z-index: 2;
  }

  &.flipped {
    transform: rotateY(180deg);
  }
}


.card {
  -webkit-backface-visibility: hidden;
  backface-visibility: hidden;

  //display:flex;
  //flex-direction:column;
  //background: var(--y, transparent);
  border-radius: var(--r);

  display: inline-block;
  height: 100%;
  overflow: hidden;
  -webkit-perspective: 0;
  position: relative;
  -webkit-transform: translate3d(0, 0, 0);
  transition: all $transitionDuration;
  visibility: visible;
  width: 100%;

  & > .section {
    z-index: 0;

    /*
    h1,
    h2,
    h3,
    h4,
    h5,
    p,
    span, {
      color: var(--x, var(--y-on));
    } */

    &:not(.img) {
      padding: $section-padding;

      &:not(:first-of-type) {
        padding-top: $section-padding / 2;
      }

      &:not(:last-of-type) {
        padding-bottom: $section-padding / 2;
      }

      &:first-child:last-child {
        padding-bottom: $section-padding;
        padding-top: $section-padding;
      }
    }

    &:last-of-type {
      //flex-grow:99;
    }
  }

  & > :first-child {
    border-radius: var(--r-top);
    overflow: hidden;
  }

  & > :last-child {
    border-radius: var(--r-bottom);
    overflow: hidden;
  }

  & > {
    //&:not
  }

  &.select {
    &.active,
    &:hover,
    &:focus {
      transform: scale($transformHoverScale);
    }
  }
}

.cards {
  &.grid {
    display: grid;
    grid-gap: $gaps;
    grid-template-columns: repeat(auto-fit, minmax(200px, 1fr));
    margin: 0 $scrollPadding;
  }

  &:not(.grid) {
    @media (max-width: 899px) {
      align-items: stretch;
      // Enable Safari touch scrolling physics which is needed for scroll snap
      display: flex;
      -webkit-overflow-scrolling: touch;
      -ms-overflow-style: none;
      overflow-x: scroll;
      overflow-y: hidden;
      scroll-padding: 0 0 0 $scrollPadding;
      scroll-snap-type: x mandatory;
      scrollbar-width: none;

      &::-webkit-scrollbar {
        display: none;
      }

      > :first-child {
        margin-left: $scrollPadding;
      }

      > :last-child {
        //margin-right: $scrollPadding;
      }

      .scene {
        min-width: 300px;
        position: relative;
        scroll-snap-align: start;

        & + .scene {
          margin-left: $gaps;
        }

      }
        &::after {
          content: "";
          flex: 0 0 $scrollPadding;
        }

      figcaption {
        display: none;
      }
    }

    @media (min-width: 900px) {
      display: grid;
      grid-gap: $gaps;
      grid-template-columns: repeat(auto-fit, minmax(200px, 1fr));
      margin: 0 $scrollPadding;

      .card {


      }
    }
  }
}
