/*

Classes :
.card : default

*/
$transitionDuration:0.2s;
$selectionAnimationHeight:0.1em;
$transformHoverScale:1.02;
$section-padding:2em;

.card {
  display: inline-block;
  position: relative;
  border-radius: var(--r);

  background: var(--y, transparent);
  overflow: hidden;
  transition: all $transitionDuration;

  & > .section {
    /*
    h1,
    h2,
    h3,
    h4,
    h5,
    p,
    span, {
      color: var(--x, var(--y-on));
    }*/

    &:not(.img) {
      padding: $section-padding;

      &:not(:first-child) {
        padding-top: $section-padding / 2;
      }

      &:not(:last-child) {
        padding-bottom: $section-padding / 2;
      }

      &:first-child:last-child {
        padding-top: $section-padding;
        padding-bottom: $section-padding;
      }
    }
  }

  & > :first-child {
    border-radius: var(--r-top);
    overflow: hidden;
  }

  & > :last-child {
    border-radius: var(--r-bottom);
    overflow: hidden;
  }

  & > {
    //&:not
  }

  &.select {
    &.active,
    &:hover,
    &:focus {
      transform: scale($transformHoverScale);
    }
  }
}
