/* @fwrlines/generator-react-component 1.2.1 */

/*

Classes :
.menu : default

*/

.dash-menu {
  .item {
    color: var(--subtitles);

    .icon {
      &:hover,
      &:focus {
        color: var(--x);
      }
    }

    &.active {
      color: var(--x);
    }
  }
}
