/*

Classes :
.page_progress_tracker : default

*/
$transitionDuration:0.3s;

.page_progress_tracker {
  width: 100%;

  svg {
    position: absolute;
    width: 100%;

    #active {
      transition: all $transitionDuration;
      stroke-dashoffset: var(--do, 50);
    }

    rect#pb_back {
      fill: var(--fill, var(--x, var(--primary)));
    }
  }
}
