/*

Classes :
.animated_v_caret : default

*/

.animated_v_caret {
  display: inline;
  cursor: pointer;

  line {
    transition: stroke 0.3s;
    stroke: var(--x, var(--black, black));
  }

  &.active {
    line {
      stroke: var(--y, var(--x, var(--black, black)));
    }
  }
}
