/* @fwrlines/generator-react-component 1.4.0 */
/*

Classes :
.input_side : default

*/

.input .side{
  display:inline-block;

  &.left {

  }

  &.right {

  }
  p {
    position:relative;
    top:50%;
    transform: translateY(-50%);
  }
}
