/*

Classes :
.breadcrumb : default

*/

.breadcrumb {
  padding-left: 0;
  list-style: none;

  li {
    display: inline;
  }

  li + li {
    &::before {
      vertical-align: bottom;
      color: var(--light-grey);
      font-family: "if";
      content: " g ";
    }
  }

  span {
    color: var(--x, var(--darker-grey));
  }

  a {
    color: var(--y, var(--dark-blue));
  }
}
