/*

Classes :
.breadcrumb : default

*/

.breadcrumb {
  padding-left: 0;
  list-style: none;

  li {
    display: inline;
  }

  li + li {
    &::before {
      vertical-align: bottom;
      margin:0 .5em;
      color: var(--x-light, var(--light-grey));
      font-family: "if";
      font-size:calc(var(--s-1) * 1em);
      content: " l ";
      vertical-align:middle;
    }
  }

  span {
    color: var(--metadata);
  }

  a {
    color: var(--subtitle);
    &:hover,
    &:focus {
      color: var(--dark-subtitle);
      
    }
  }
}
