/* @fwrlines/generator-react-component 1.4.0 */
/*

Classes :
.downshift_select : default

*/

.downshift_select{

  .button {
    overflow:visible;
  }
  .popup {
    border:var(--form-border);
    border-radius:var(--form-border-radius);
    background:var(--form-popup-background);
    outline:none;

    ul {
      margin:0;
      max-height:300px;
      overflow-y:scroll;

      &:focus {
        outline:none;
      }
    }
  }

}
