/* @fwrlines/generator-react-component 2.3.3 */

/*

Classes :
.block_cards : default

*/
$scrollPadding:1em;
$card-width:300px;

.block_cards {
  @media (max-width: 899px) {
    .cards {
      align-items: center;
      // Enable Safari touch scrolling physics which is needed for scroll snap
      display: flex;
      -webkit-overflow-scrolling: touch;
      overflow-x: scroll;
      overflow-y: hidden;
      scroll-snap-type: x mandatory;

      > :first-child {
        margin-left: $scrollPadding;
      }

      .card {
        min-width: 300px;
        position: relative;
        scroll-snap-align:start;
		    scroll-padding:0 0 0 $scrollPadding;

        & + .card {
          margin-left: .5em;
        }
      }
    }

    figcaption {
      display: none;
    }
  }

  @media (min-width: 900px) {
    .cards {
      display: grid;
      grid-column-gap: 1em;
      grid-template-columns: repeat(auto-fit, minmax(200px, 1fr));

      .card {


      }
    }
  }
}
