/* @fwrlines/generator-react-component 1.2.1 */
/*

Classes :
.status_bar : default

*/

.status_bar{
  padding:.5em;
  padding-top:.5em;
  width:100%;
  & > * {
    vertical-align:middle;
  }
  p{
    margin-right:1em;
  }

  &.fixed {
    position:fixed;
    bottom:0;
    right:0;

  }

}
