/* @fwrlines/generator-react-component 2.3.3 */

/*

Classes :
.price : default

*/

$gap:.5em;

.price {
  display: grid;
  grid-template-areas:
    ". integer decimal"
    "currency integer periodicity";
  justify-content:start;
  column-gap:$gap;
  //row-gap:$gap;
  
  > p {
    margin:0;
  }

  .currency {
    grid-area: currency;
    align-self:start;
    color:var(--subtitle);
  }

  .integer {
    grid-area: integer;
    font-size:calc(var(--s6) * 1em);
  }

  .decimal {
    grid-area: decimal;
    align-self:end;
  }

  .integer { 
    font-weight:bold;
  }

  .periodicity {
    grid-area: periodicity;
    align-self:start;
    color:var(--subtitle);
  }
  
  .free {
    grid-area:1/1/3/4;
    font-size:calc(var(--s5) * 1em);
    color:var(--dark-subtitle);
    font-weight:bold;
    text-transform:uppercase;

  }
}
